body {
	background-color : mistyrose;
}

html, body {
	margin : 5px;
	padding : 5px;
	height: 100%;
}

h2 { 
	color : darkblue;
	text-align : center;
	margin-bottom : 50px;
	text-shadow : 2px 2px 3px lightblue;
}

#login {
	float : right;
	text-decoration: none;
	color : black;
	font-size : 0.8em;
}

.nav a {
	text-decoration : none;
	color : black;
}

#audio { 
	position : fixed;
	top : 10px;
	left : 10px;
	width : 100px;
	height : 20px;
}

#blog {
	font-size : 20px;
	font-weight : bold;
	color : green;
}

#taste {
	font-size : 20px;
	font-weight: bold;
	color : red;
}